*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
}
header{
    width: 100%;
    height: 100px;
    background-color: #042c58;
    display: flex;
    flex-direction: row;
    text-align: middle;
    justify-content: center;
    align-items: center;
}
nav a{
    color:white;
    text-decoration: none;
    padding: 10px;
    transition: all 1s ease;
}
nav a:hover{
    color: blue;
    background-color: white;
    -webkit-box-shadow: 1px 18px 54px -4px rgba(253, 252, 252, 0.75);
    -moz-box-shadow: 1px 18px 54px -4px rgba(254, 253, 253, 0.75);
    box-shadow: 1px 18px 54px -4px rgba(255, 254, 254, 0.75);
}
#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: rgb(252, 252, 252);
}
#presentation div{
    display: flex;
    flex-direction: column;
}
#skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#skills h1{
    margin-left: 10%;
    font-size: 2.4rem;
}
.skill_container{
    margin: 10px auto;
    width: 80%;
    background-color: #042c58;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 30px;
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    position: relative;
    height: 150px;
    overflow-x: hidden;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-evenly;
}
.container_wrapper h2{
    margin-left: 5%;
    margin-top: 15px;
}
.skilltrack{
    width: fit-content;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: relative;
    transition: all 0.5s ease;
    overflow-x: auto;
    overflow-y: hidden;
}
.individual_skill {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    cursor: grab;
    position: relative;
  }
.track{
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 70%;
}
#check{
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#loading {
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite; /* Adiciona a animação "spin" com duração de 5 segundos e repetição infinita */
}  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.skill_name{
    font-size: 0.85rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
} 
.button_left{
    background-color: green;
    top: 50%;
    left: 5px;
    transform: translate(-50%,-50%);
}
.button {
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 30px;
    height: 30px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    background-color: #007bff; 
    border: none;
  } 
  .button i {
    font-size: 16px;
    line-height: 30px;
  }
  
.button_right{ 
    top: 50%;
    right: -10px;
    transform: translate(0%,-50%);
}
.skill_title{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin: 10px auto;
}
.imgs{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
#projects{
    display: block;
    height: fit-content;
}
#about {
    width: 80%;
    height: 400px;
    -webkit-border-radius: 50px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius: 50px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: darkcyan;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile_frame {
    background-color: aquamarine;
    width: 300px;
    max-width: 40%;
    height: 80%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .profile_frame img{
    width: 100%;
    height: auto;
  }
  .linkedin_goto{
    width: 250px;
    height: 230px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: none;
  }
  .linkedin_goto span{
    position: absolute;
    color: darkblue;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .mini_profile {
    width: 80%;
    height: 30%;
    position: absolute;
    background-image: url('assets/linkedin cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    z-index: 1; }
  
  .mini_profile_pic {
    width: 60px;
    height: 60px;
    background-image: url('assets/linkedin prof pc.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
  }
  .about_holder {
    color: white;
    max-width: 60%;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .about_text {
    font-size: 0.775rem;
    width: 80%;
    max-width: 400px;
    padding: 10px;
    text-align: justify;
  }
  .about_holder h2{
    position: absolute;
    top: 10px;
  }
  
@media(max-width: 400px){
    .profile_frame{
        display: none;
    }
    .about_holder{
        max-width: none;
        width: 90%;
    }
    .about_text{
        font-size: 0.75rem;
        width: 250px;
    }
    .about_holder h2{
        font-size: 1rem;
      }
    .skill_container{
        transform: scale(0.95);
    }
    .skill_title{
        transform: scale(0.7);
    }
    #skills h1{
        font-size: 1.8rem;
        display: inline;
        margin-left: 15%;
    }
    #presentation h1{
        font-size: 1.2rem;
    }
    #presentation span{
        font-size: 0.9rem;
        width: 90%;
    }
    #project_1{
        flex-direction: column;
    }
    #project_2{
        flex-direction: column-reverse;
    }
    #preview_1,#preview_2{
        flex-shrink: 0;
    }
    #preview_1,#preview_2,#explanation_1,#explanation_2{
        width: 100%;
        height: auto;
        font-size: 0.8rem;
    }
    #explanation_1,#explanation_2{
        margin-top: 15px;
    }
    #project_1 .preview,#project_2{
        border-radius: 10px 10px 10px 10px;
    }
    .newton img,.onebitcode img,.gama img,.github img,.codepen img,.codewars img{
        width: 120px;
    }
    #courses span,#bootcamps span,#repository span{
        font-size: 0.9rem;
    }
}
img{
    height: 65px;
}
.hangloose{
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
@keyframes hang {
    20%{
        transform:rotate(10deg);
    }
    40%{
        transform:rotate(-10deg)
    }
    60%{
        transform: rotate(10deg);
    }
    80%{
        transform:rotate(-10deg)
    }
    100%{
        transform:rotate(0deg);
    }
}
.hangloose:hover{
    animation: hang 1s ease;
}
.project_container{
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding-bottom: 20px;
}
.project_container h2{
    margin-left: 20px;
}
.project{
    width: 90%;
    height: fit-content;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
}
.preview{
    height: 300px;
    width: 50%;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.preview:hover{
    box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    -webkit-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    -moz-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    background-color: #fafbfb;
    color: #042c58;
}
.mockups{
    width: 90%;
    height: 80%;
    display: flex;
}
.mockups :nth-child(1){
    width: 100%;
    height: 100%;
}
.credits{
    font-size: 0.5rem;
}
.disclaimer_holder{
    background-color: aquamarine;
    padding: 20px;
    width: 40%;
    height: 100%;
    margin: auto;
    text-align: justify;
}
.disclaimer_holder span{
    display: inline;
    height: 100%;
}
.disclaimer_holder a{
    text-decoration: none;
}
#project_1{
    border-radius: 10px 30px 10px 30px;
}
#project_1 .preview{
    border-radius: 10px 0px 0px 30px / 10px 18px 0px 30px;
}
#project_2{
    border-radius: 30px 10px 30px 10px;
}
#project_2 .preview{
    border-radius: 0px 10px 30px 0px;
}
#courses,#bootcamps,#repository{
    margin: 20px auto;
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    padding-top: 40px;
}
#courses h2,#bootcamps h2,#repository h2{
    position: absolute;
    top: -20px;
    left: 10%
}
#courses > *,#bootcamps > *,#repository > *{
    margin: 20px auto;
}
#courses span,#bootcamps span,.repository_disclaimer{
    width: 50%;
    text-decoration: none;
}
.newton,.onebitcode,.gama,.github,.codepen,.codewars{
    margin: auto 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.github,.codepen,.codewars{
box-shadow: 1px 2px 30px 7px rgba(0,0,0,0.69);
-webkit-box-shadow: 1px 2px 30px 7px rgba(0,0,0,0.69);
-moz-box-shadow: 1px 2px 30px 7px rgba(0,0,0,0.69);
cursor: pointer;
border-radius: 10px;
}
.github:hover, .codepen:hover,.codewars:hover{
box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
-webkit-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
-moz-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
background-color: #042c58;
color: white;
}
.course_disclaimer{
    font-size: 1.4rem;
}
#contact{
    height: 80px;
    width: 100%;
    background-color: #042c58;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 200px;
    height: auto;
}
.contact_logo{
    height: 60px;
    width: 60px;
}
.linkedin_logo{
    border-radius: 10px;
}
.whatsapp_logo{
    border-radius: 50%;
}
.contact_logo:hover{
    box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    -webkit-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    -moz-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    background-color: #fafbfb;
    color: white;
}
.direct_link{
    background-color: #042c58;
    color: white;
    border-radius: 1px;
    padding: 2px;
    transition: all 0.5s ease;
}
.direct_link:hover{
    box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    -webkit-box-shadow: 1px 2px 30px 7px rgba(81, 214, 240, 0.69);
    -moz-box-shadow: 1px 2px 30px 7px rgba(234, 110, 48, 0.69);
    background-color: white;
    color: #042c58;
    transform: scale(1.125);
}




