*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 14);
    display: flex;
    flex-direction: row;
    text-align: middle;
    justify-content: center;
    align-items: center;
}
nav a{
    color:white;
    text-decoration: none;
    padding: 10px;
    transition: all 1s ease;
}
nav a:hover{
    color: blue;
    background-color: white;
    -webkit-box-shadow: 1px 18px 54px -4px rgba(253, 252, 252, 0.75);
    -moz-box-shadow: 1px 18px 54px -4px rgba(254, 253, 253, 0.75);
    box-shadow: 1px 18px 54px -4px rgba(255, 254, 254, 0.75);
}
#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgb(252, 252, 252);
}
#presentation div{
    display: flex;
    flex-direction: column;
}
#skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#skills h1{
    margin-left: 2%;
    font-size: 2.4rem;
}
.skill_container{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    border: 1px solid red;
    position: relative;
    height: 150px;
    overflow-x: hidden;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-evenly;
}
.container_wrapper h2{
    margin-left: 5%;
    margin-top: 15px;
}
.skilltrack{
    width: fit-content;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: relative;
    transition: all 0.5s ease;
}
.individual_skill {
    background-color: lightgray;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    cursor: grab;
    position: relative;
  }
.track{
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 70%;
}
#check{
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#loading {
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: spin 5s linear infinite; /* Adiciona a animação "spin" com duração de 5 segundos e repetição infinita */
}  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.skill_name{
    font-size: 0.85rem;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
} 
.button_left{
    background-color: green;
    top: 50%;
    left: 5px;
    transform: translate(-50%,-50%);
}
.button {
    justify-self: center;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 30px;
    height: 30px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    background-color: #007bff; 
    border: none;
    opacity: 0.6;
  }
  
  .button i {
    font-size: 16px;
    line-height: 30px;
  }
  
.button_right{ 
    top: 50%;
    right: -10px;
    transform: translate(0%,-50%);
}
.skill_title{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    margin: 10px auto;
}
.imgs{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
#projects{
    display: block;
    height: 600px;
    background-color: aquamarine;
}
@media(max-width = 500px){
    .button_right{
        right: 90%;
    }
}
img{
    height: 65px;
}


